article, aside, figure, footer, header, nav, section {
    display: block;
}
html {
    background-image: -moz-linear-gradient(top, white 0%, #959595 100%);
}

#nav_bar {
    clear: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ef9c00;
    text-align: right;
}
#nav_bar ul {
    margin-bottom: .5em;
    list-style: none;
    padding-top: .5em;
}
#nav_bar li {
    display: inline;
    padding: 0 1.5em;
    border-left: 2px solid black;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 964px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 25px;
    border: 1px solid black;
}
section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

section label {
    float: left;
    width: 8em;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-top: 0.25em;
}
section input[type="text"], input[type="email"], input[type="password"] {
    width: 12em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
section input[type="submit"] {
    margin-left: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
}

/*table styles*/
section table {
    border-collapse: collapse;
    width: 100%;
}

section th, td {
    text-align: left;
    padding: 8px;
}

section tr:nth-child(even){background-color: #f2f2f2}

section select{
    background: #c5cace;
    width: 170px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 33px;
}

#paginator td a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

#paginator td a.active {
    background-color: #4CAF50;
}

#paginator td a:hover:not(.active) {background-color: #ddd;}


h1 { font-size: 175%; }
h2 { font-size: 125%; }

a { font-weight: bold; }
a:link { color: green; }
a:visited { color: green; }
a.current { color: #ef9c00; }
a:hover, a:focus { color: blue; }

ul {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}
li { padding-bottom: 0.25em; }

p { padding-bottom: 0.5em; }

em { font-weight: bold; }

header {
    padding-bottom: 2em;
    border-bottom: 2px solid #ef9c00;
}
header h1 {
    color: #ef9c00;
    margin-left: 120px;
    margin-bottom: 0.25em;
}
header h2 {
    color: green;
    font-style: italic;
    margin-left: 120px;
}
header img {
    float: left;
}


footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid #ef9c00;
    padding-top: 0.7em;
}
footer p {
    font-size: 80%;
    text-align: right;
}
